<a href="https://colab.research.google.com/github/hemakesh263/python_new/blob/Module---1/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Accept input from user and store it in variable and print the value.

In [ ]:
a=5
print(a)

5

# Use of print statements and use of (.format )for printing different data types

In [ ]:
year=2006
date=26
me="pokiri has released on {1} april {0}"
print(me.format(year,date))

pokiri has released on 26 april 2006

# Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output (Same operations on floating point input as well)

In [ ]:
a=10
b=20
c=a+b
print(c)
d=a-b
print(d)
e=a*b
print(e)
f=a%b
print(f)

30
-10
200
10

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter a number:"))
c=a+b
print(c)
d=a-b
print(d)
e=a*b
print(e)
f=a%b
print(f)

enter a number:10.5
enter a number:10.5
21.0
0.0
110.25
0.0

# Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
a=int(input("enter the hours:"))
b=a*60
print(b,"minutes")

enter the hours:3
180 minutes

In [ ]:
a=int(input("enter the miles:"))
b=a*1.6
print(b, "kilometers")

enter the miles:5
8.0 kilometers

# Accepting 5 different subject marks from user and displaying the grade of the student.

In [ ]:
s1=95
s2=98
s3=97
s4=91
s5=99
total=s1+s2+s3+s4+s5
average=(total)/5
print(total)
print(average)

480
96.0

In [ ]:
s1=int(input("enter the marks:"))
s2=int(input("enter the marks:"))
s3=int(input("enter the marks:"))
s4=int(input("enter the marks:"))
s5=int(input("enter the marks:"))
avg=(s1+s2+s3+s4+s5)/5
print(avg)
if avg>=90 and avg<=100:
  print("A+")
elif avg>=80 and avg<=90:
  print("A")
elif avg>=70 and avg<=80:
  print("B")
elif avg>=60 and avg<=70:
  print("C")
elif avg>=50 and avg<=60:
  print("D")
elif avg>=40 and avg<=50:
  print("E")
else:
  print("F")

enter the marks:95
enter the marks:95
enter the marks:95
enter the marks:95
enter the marks:95
95.0
A+

# Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc.

In [ ]:
import math

print(math.ceil(2.6))
print(math.floor(1.3))
print(math.fabs(-33.9))
print(math.fmod(10,5))
print(math.trunc(55.2))
print(math.pow(4,2))
print(math.sqrt(25))

3
1
33.9
0.0
55
16.0
5.0

# Building a mathematical calculator that can perform operations according to user input.Use decision making statement

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=str(input("enter the operation:"))
if c=="+":
  print(a+b)
elif c=="-":
  print(a-b)
elif c=="*":
  print(a*b)
elif c=="/":
  print(a/b)
else:
  print("you did not enter the right opeartion")

enter a number:5
enter a number:5
enter the operation:l
you did not enter the right opeartion

# Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range

In [ ]:
print("even numbers:")
for i in range(1,100):
  if i%2==0:
    print(i)

print("odd numbers:")
for i in range(1,100):
  if i%2!=0:
    print(i)

even numbers:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
odd numbers:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
e=0
o=0
print("even numbers:")
for i in range(1,100):
  if i%2==0:
    print(i)
    e=e+1

print("odd numbers:")
for i in range(1,100):
  if i%2!=0:
    print(i)
    o=o+1

even numbers:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
odd numbers:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Compute the factorial of a given number.

In [ ]:
num=int(input("enter a number"))
factorial=1
if num>0:
  for i in range(1,num+1):
    factorial=factorial*i
  print(factorial)
elif num==0:
  print("factorial of 0 is 1")
else:
  print("the given number is negative")

enter a number10
3628800

# Compute GCD of two given numbers.

In [ ]:
x = int(input("Enter first number: "))  
y = int(input("Enter second number: "))  
if x > y:  
    smaller = y  
else:  
    smaller = x  
for i in range(1,smaller + 1):
 if((x % i == 0) and (y % i == 0)):
   hcf = i  

print("The H.C.F. of", x,"and", x,"is", hcf)

Enter first number: 3
Enter second number: 2
The H.C.F. of 3 and 3 is 1

# Generate Fibonacci series up to N numbers.

In [ ]:
num = int(input("Enter the Number:"))
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

Enter the Number:5
Fibonacci Series: 0 1 1 2 3

# Palindrome Number

In [ ]:
n=int(input("enter a number:"))
rev=0
org=n
while (n!=0):
  remainder=n%10
  rev=rev*10+remainder
  n=int(n/10)
if (org==rev):
  print("palindrome")
else:
  print("not palindrome")

enter a number:111
palindrome

# Strong Number

In [ ]:
sum=0  
num=int(input("Enter a number:"))    
temp=num  
while(num>0):        
    rem=num%10
    i=1  
    while(i<=rem):  
        fact=fact*i  
        i=i+1  
    sum=sum+fact
    fact=1 
    num=num//10  
if(temp==sum):  
    print("Given number is a strong number")  
else:  
    print("Given number is not a strong number")

Enter a number:145
Given number is a strong number

# Perfect Number

In [ ]:
num=int(input("Enter the number:"))  
sum=0  
for i in range(1,num):
  if (num%i==0):
    sum=sum+i  
if(sum==num):
  print("The entered number is a perfect number")  
else:  
  print("The entered number is not a perfect number")

Enter the number:28
The entered number is a perfect number

# Compute compound interest using loop for a certain principal and interest amount

In [ ]:
p=int(input("Enter the amount:"))
t=int(input("Enter the time:"))
r=int(input("Enter the rate:"))
compound_interest =p*(pow((1 + r / 100), t))
print(compound_interest)

Enter the amount:1000
Enter the time:2
Enter the rate:5
100.0
1102.5