<a href="https://colab.research.google.com/github/hemakesh263/python_new/blob/module_2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def nCr(n,r):
  return(fact(n)/(fact(r)
                *fact(n-r)))
n=int(input(""))
r=int(input(""))
def fact(n):
  res=1
  for i in range(2,n+1):
    res=res*i
  return res
print(int(nCr(n,r)))

5
2
10

#Recursive function to compute GCD of 2 numbers

In [ ]:
def GCD(a,b):
  if a==b:
    return a
  elif a<b:
    return GCD(b,a)
  else:
    return GCD(b,a-b)

a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print(GCD(a,b))

Enter a number:25
Enter a number:45
5

#Recursive function to find product of two numbers

In [ ]:
def prod(a,b):
  if a<b:
    return prod(b,a)
  elif b!=0:
    return (a+prod(a,b-1))
  else:
    return 0
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print("The product of a and b is:")
print(prod(a,b))

Enter a number:12
Enter a number:10
The product of a and b is:
120

#Recursive function to generate Fibonacci series

In [ ]:
def fibo(v):
  if v<=1:
    return v
  else:
    return (fibo(v-1)+fibo(v-2))
v=int(input("Enter a number:"))
print("The fibonacci sequence of entered number is:")
for i in range(v):
  print(i)
print(fibo(v))

Enter a number:5
The fibonacci sequence of entered number is:
0
1
2
3
4
5

#Program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
def hemakesh():
  newlist=["Red", "Green", "White", "Black", "Pink", "Yellow"]
  newlist.remove("Red")
  del newlist[3:5]
  print(newlist)
hemakesh()

['Green', 'White', 'Black']

#Program to get the difference between the two lists

In [ ]:
def function():

  hemakesh=["Red","Yellow","Green"]
  newlist=["Black","Blue","Red"]
  a=set(hemakesh)
  b=set(newlist)
  c=a.symmetric_difference(b)
  d=list(c)
  print(d)
function()

['Black', 'Green', 'Blue', 'Yellow']

#Program to find the second smallest number and second largest number in a list

In [ ]:
def hemakesh():
  vai=[345,23,65,234,89,34,56]
  vai.sort()
  print(vai)
  print("Second largest number is:",vai[-2])
  print("Second shortest number is:",vai[1])
hemakesh()

[23, 34, 56, 65, 89, 234, 345]
Second largest number is: 234
Second shortest number is: 34

#Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [ ]:
hemakesh=[62,31,95,15,68]
print("The list is:")
print(hemakesh)
print("The result is:")
result=[(val, pow(val,2)) for val in hemakesh]
print(result)

The list is:
[62, 31, 95, 15, 68]
The result is:
[(62, 3844), (31, 961), (95, 9025), (15, 225), (68, 4624)]

#Given list of tuples, remove all the tuples with length K

In [ ]:
hemakesh=[(4,5),(4, ),(8,6,7),(1, ),(3,4,6,7)]
print("The list is:" + str(hemakesh))
K=2
result=[ele for ele in hemakesh if len(ele) != K]
print("The result is:" + str(result))

The list is:[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
The result is:[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

#Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

In [ ]:
n=int(input("enter a number:"))
hemakesh=dict()
for num in range(1,n+1):
  hemakesh[num]=num*num
print("the generated elements are:")
print(hemakesh)

enter a number:5
the generated elements are:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#Program to remove a key from a dictionary

In [ ]:
hemakesh={
    "name": "Hemakesh Surla",
    "age": 18,
    "gender": "Male",
    "year of born": 2004
}
hemakesh.pop("gender")
print(hemakesh)

{'name': 'Hemakesh Surla', 'age': 18, 'year of born': 2004}

#Program to get the maximum and minimum value in a dictionary

In [ ]:
hemakesh={
    "discrete maths":85,
    "graph theory":81,
    "english":89,
    "physics":71,
    "python":90
}

maxim=max(hemakesh,key=hemakesh.get)
minim=min(hemakesh,key=hemakesh.get)
print(maxim,hemakesh[maxim])
print(minim,hemakesh[minim])

python 90
physics 71

#Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

#Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.

In [ ]:
hemakesh="I have to go to a doctor and get myself checked"
print(hemakesh.count("to"))

3

#Program for replacing one substring by another

In [ ]:
hemakesh="Rabbit"
new_hemakesh=hemakesh.replace('bb','cc')
print(new_hemakesh)

Raccit

#Program to Acronym generator for any user input

In [ ]:
hemakesh=input("enter a phrase:")
phrase=hemakesh.split()
acronym=""
for word in phrase:
  acronym=acronym+word[0].upper()
print(f'Acronym of {hemakesh} is {acronym}')

enter a phrase:random number
Acronym of random number is RN

#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

In [ ]:
hemakesh="Sky is Blue, my Love is True"
upper=0
lower=0
for i in hemakesh:
  if i.isupper():
    upper+=1
  elif i.islower():
    lower+=1
  else:
    pass
print("uppercase alphabets are:", upper)
print("lowercase alphabets are:", lower)

uppercase alphabets are: 4
lowercase alphabets are: 17

#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [ ]:
hemakesh=["abc", "xyz", "aba", "1221"]
count=0
for i in hemakesh:
  if len(i)>=2:
    if i[0]==i[len(i)-1]:
      print(i)
      count+=1
print(count)

aba
1221
2