<a href="https://colab.research.google.com/github/hemakesh263/python_new/blob/module_3/module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read an entire text file

In [ ]:
hemakesh = open(r"C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\kalavathi.txt")
print(hemakesh.read())

Anyaayanga Manasuni Kelikaave
Annam Maanesi Ninne Choosela
Dhurmarganga Sogasuni Visiraave
Nidra Maanesi Ninne Thalachela

Ranga Ghorangaa Naa Kalalani Kadhipaave
Dhongaa Andhangaa Na Pogaruni Dhochaave
Chinchi Athikinchi Irikinchi Vadhilinchi
Na Bathukuni Cheda Godithivi Kadhave

Kalla Avi Kalavathi
Kallolamaindhe Naa Gathi
Kuroola Avi Kalaavathi
Kullaabodisindi Chaalu Theecome on come on kalavathi
come on come on kalavathi
come on come on kalavathi

Read the first n lines of a file

In [ ]:
hemakesh = open(r"C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\kalavathi.txt")
print(hemakesh.readline())
print(hemakesh.readline())
print(hemakesh.readline())
print(hemakesh.readline())

Anyaayanga Manasuni Kelikaave

Annam Maanesi Ninne Choosela

Dhurmarganga Sogasuni Visiraave

Nidra Maanesi Ninne Thalachela

Append text to a file and display the text

In [ ]:
# append text to a file and display the text #

hemakesh = open(r"C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\kalavathi.txt","a")
hemakesh.write("\ncome on come on kalavathi")
hemakesh.close()

# Now read the file #
hemakesh = open(r"C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\kalavathi.txt")
print(hemakesh.read())

Anyaayanga Manasuni Kelikaave
Annam Maanesi Ninne Choosela
Dhurmarganga Sogasuni Visiraave
Nidra Maanesi Ninne Thalachela

Ranga Ghorangaa Naa Kalalani Kadhipaave
Dhongaa Andhangaa Na Pogaruni Dhochaave
Chinchi Athikinchi Irikinchi Vadhilinchi
Na Bathukuni Cheda Godithivi Kadhave

Kalla Avi Kalavathi
Kallolamaindhe Naa Gathi
Kuroola Avi Kalaavathi
Kullaabodisindi Chaalu Theecome on come on kalavathi
come on come on kalavathi
come on come on kalavathi
come on come on kalavathi

Read numbers from a file and write even and odd numbers to separate files

In [ ]:
hemakesh = open(r"C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\num.txt")
even=open('C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\even_num.txt','w')
odd=open('C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\odd_num.txt','w')
even.write('Even numbers:\n')
odd.write('Odd numbers:\n')
for i in hemakesh:
  if int(i)%2==0:
    even=open('C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\even_num.txt','a')
    even.write(i)
  else:
    odd=open('C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\odd_num.txt','a')
    odd.write(i)
even.close()
odd.close()
even=open('C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\even_num.txt','r')
print(even.read())
even.close()
odd=open('C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\odd_num.txt','r')
print(odd.read())
odd.close()

Even numbers:
26
158
348
546454
1422
036

Odd numbers:
91
17
13
81
945
641
347
259
25
37
05
19
115
047
0485

Count characters, words and lines in a text file

In [ ]:
hemakesh = open(r"C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\kalavathi.txt")
lines=0
words=0
characters=0
for x in hemakesh:
    lines=lines+1
    W=x.split()
    words=words+len(W)
    characters=characters+len(x)
print(lines,words,characters)

16 59 454

To write a list to a file

In [ ]:
hemakesh = ["You can steal my love","You can steal my friendship","But, you can't steal my money."]
for v in hemakesh:
    h1=open(r"C:\\Users\shema\OneDrive\Desktop\Pandas\Module 3\file.txt","a")
    print(h1.write(v))
    h1.close()

21
27
30

Given a CSV file or excel file to read it into a dataframe and display it

In [ ]:
import pandas as pd
a = pd.read_csv('Employee details.csv')
print(a)

      Name Occupation  Salary
0    Mohan        Emp  100000
1   Lokesh    Jr Mngr  250000
2  Pradeep     Intern   25000
3    Nehal        Emp  100000
4     Sami    Sr Mngr  300000
5   Puneet     Intern   25000
6  Abhinav        Emp  100000
7  Sankalp    Jr Mngr  250000
8   Vishnu        Emp  100000
9   Aditya    Sr Mngr  300000

Given a CSV file or excel file to read it into a dataframe and display it

In [ ]:
import pandas as pd
hemakesh = pd.read_csv('Employee details.csv')
print(a.loc[0])
print(a.loc[1])

Name           Mohan
Occupation       Emp
Salary        100000
Name: 0, dtype: object
Name           Lokesh
Occupation    Jr Mngr
Salary         250000
Name: 1, dtype: object

Given is a dataframe showing the name, occupation, salary of people. Find the
average salary per occupation

In [ ]:
import pandas as pd
hemakesh = pd.read_csv('Employee details.csv')
h1 = hemakesh.groupby('Occupation')['Salary'].mean()
print(h1)

Occupation
Emp        100000.0
Intern      25000.0
Jr Mngr    250000.0
Sr Mngr    300000.0
Name: Salary, dtype: float64

To convert Python objects into JSON strings. Print all the values

In [ ]:
import json

hemakesh = {
    "Movie":"Sarkaru Vaari Paata",
    "Hero":"Mahesh Babu",
    "Director":"Parasuram",
    " Best Dialogue":"This is Mahesh reporting from chepalapuda beach sir."
}

hemakesh1 = json.dumps(hemakesh)

print(hemakesh1)

{"Movie": "Sarkaru Vaari Paata", "Hero": "Mahesh Babu", "Director": "Parasuram", " Best Dialogue": "This is Mahesh reporting from chepalapuda beach sir."}

Write a Pandas program to read specific columns from a given excel file

In [ ]:
import pandas as pd
cols=[0,1]
hemakesh = pd.read_csv('Employee details.csv',usecols=cols)
print(hemakesh)

      Name Occupation
0    Mohan        Emp
1   Lokesh    Jr Mngr
2  Pradeep     Intern
3    Nehal        Emp
4     Sami    Sr Mngr
5   Puneet     Intern
6  Abhinav        Emp
7  Sankalp    Jr Mngr
8   Vishnu        Emp
9   Aditya    Sr Mngr